<ion-view view-title="Items">
    <div ng-if="!vm.isCreating && !vm.isEditing &&!vm.isViewing">
        <ion-content class="has-header">
            <!-- LIST -->
            <div class="bar bar-header">
              <span><button ng-click="vm.showLost()" class="pure-button lost-btn">Lost</button><button ng-click="vm.showFound()" class="pure-button found-btn">Found</button></span>
                <span ng-click="vm.isCreating = true"><i class='icon ion-plus-round new-item balanced'></i></span>
            </div>

            <div class="bar bar-subheader">
                <ion-list>
                  <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="object in vm.itemsToDisplay" type="item-text-wrap"
                             ng-class="{'active':vm.isCurrent(object.id)}" ng-click="vm.setViewPost(object)">



                    <img src="http://i.imgur.com/27mjWEE.png">
                    <h2>{{object.name}}</h2>
                    <p>{{object.description}}</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>

                    <ion-option-button class="button-positive" ng-click="vm.setEdited(object)">
                      Edit
                    </ion-option-button>
                    <ion-option-button class="button-assertive" ng-click="vm.delete(object.id)">
                      Delete
                    </ion-option-button>
                  </ion-item>
                </ion-list>
            </div>
        </ion-content>
    </div>
  <div ng-if="vm.isViewing">
    <ion-content class="padding has-header">
      <!-- EDITING -->
      <div class="bar bar-header bar-secondary">
        <h1 class="title"> Lost Item: {{vm.object.name}}</h1>
      </div>

      <div class="bar bar-subheader">
        <p class="edit-description">{{vm.object.description}}</p>
        <br>
        <p class="edit-description">contact email: {{vm.object.username}}</p>
        <span class="button pure-button lost-item" ng-click="vm.cancelViewPost()">Go Back</span>
        <span class="button pure-button lost-item" ng-click="vm.reroute()">Contact OP</span>
        <span class="button pure-button lost-item" ng-click="">View Location</span></p>
      </div>
    </ion-content>
  </div>


    <div ng-if="vm.isCreating">
        <ion-content class="padding has-header">
            <!-- CREATING -->
            <div class="bar bar-header">
                <h2 class="title">Create Item user email {{login.username}}</h2>
                <span ng-click="vm.cancelCreate()" class="cancel-create">Cancel</span>
            </div>
            <div class="bar bar-subheader create-subheader">
                <form class="create-form" role="form"
                      ng-submit="vm.create(vm.newObject)" novalidate>
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Name</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.newObject.name"
                                   placeholder="Enter name">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Description</span>
                        <textarea placeholder="Comments" class="form-control"
                                  ng-model="vm.newObject.description"
                                  placeholder="Enter description"></textarea>
                        </label>
                        <br>
                        <input ng-model="vm.newObject.type" type="radio" value="lost" name="type" id="type-lost" checked>
                        <label for="type-lost">Lost Item</label>
                        <br>
                        <input ng-model="vm.newObject.type" type="radio" value="found" name="type" id="type-found" checked>
                        <label for="type-found">Found Item</label>
                  <button class="button button-block pure-button" ng-click="addImage()">
                    Add Image
                  </button>
                      </div>
                    <button class="button button-block pure-button" type="submit">Create</button>
                </form>
            </div>
        </ion-content>
    </div>
    <div ng-if="vm.isEditing && !vm.isCreating">
        <ion-content class="padding has-header">
            <!-- EDITING -->
            <div class="bar bar-header bar-secondary">
                <h1 class="title">Editing {{vm.edited.name}}</h1>
                <span ng-click="vm.cancelEditing()" class="cancel-create">Cancel</span>
            </div>
            <div class="bar bar-subheader edit-subheader">
                <form class="edit-form" role="form"
                      ng-submit="vm.update(vm.edited)" novalidate>
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Name</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.edited.name"
                                   placeholder="Enter name">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Description</span>
                    <textarea class="form-control"
                              ng-model="vm.edited.description"
                              placeholder="Enter description"></textarea>

                        </label>
                    </div>
                    <button class="button button-block button-positive" type="submit">Save</button>
                </form>
            </div>
        </ion-content>
    </div>
</ion-view>

