<ion-view view-title="Login">
    <ion-content class="padding has-header">
        <div class="bar bar-header">
            <button ng-click="login.signout()" class="pure-button signout-btn">sign out - login as {{login.username}}</button>
            <button class="pure-button guest-btn" ng-click="login.anonymousLogin()">Guest login</button>

        </div>
        <div class="bar bar-subheader">
            <form ng-submit="login.signin()">
                <div class="list">

                    <label class="item item-input">
                        <input id="email" name="email" type="email" placeholder="Email" ng-model="login.email">
                    </label>
                    <label class="item item-input">
                        <input id="password" name="password" type="password" placeholder="Password" ng-model="login.password">
                    </label>
                </div>
                <div class="">
                    <button class="button button-block pure-button" type="submit">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Login
                    </button>
                </div>
                <div class="button-bar">
                    <button class="button button-positive icon-left ion-social-facebook" ng-click="login.socialSignin('facebook')" type="button">
                        Facebook
                    </button>
                    <button class="button button-assertive icon-left ion-social-googleplus" ng-click="login.socialSignin('google')" type="button">
                        Google+
                    </button>
                </div>
            </form>
                <h4 style="color:red;" ng-bind="login.error"></h4>
        </div>
    </ion-content>
</ion-view>
