/* Empty. Add your own CSS if you like */
.icon.new-item {
	position: absolute;
	right: 20px;
	font-size: 20px;
	bottom: 13px;
}

.cancel-create {
	position: absolute;
	right: 20px;
	font-size: 14px;
	bottom: 13px;
	color:#90123f;
}


.lost-item {
  margin-right: 15px;

}

#messages {
  overflow-y: auto;
}

.edit-description {
  color: #666;
}

.pure-button.signout-btn {
  position: absolute;
  right: 5px;
  background-color: #90123f;
  color: #fff;
}

.guest-btn {
  position: absolute;
  left: 5px;
}
.pure-button {
  background-color: #11c1f3;
  color: #fff;
}

.purple-menu {
  background-color: #90123f;
  color: #fff;
  width: 110px;
}

.hidden-menu {
  background-color: #90123f !important;
  color: #fff !important;
}
.signup-header {
  margin-left: auto;
  margin-right: auto;
}
.signup-subheader, .create-subheader, .edit-subheader {
  border: 0px;
}

p, h2, h1 {
  color: #90123f;
}

.bar.bar-stable .title{
  color: #fff;
}

.lost-btn {
  margin-left: 5pt;
}

.found-btn {
  margin-left: 25pt;
}

[ng-click], [data-ng-click], [x-ng-click] {
    cursor: pointer;
}
/* Ionic Overwrite! */
.item-icon-left .icon, .item-icon-right .icon {
	font-size: 22px;
}
